
.btn-white {
  background-color: white;
  color: black; 
  /* border: 1px solid #ccc;  */
}

.dropdown-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}


.custom-dropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #ced4da; 
  border-radius: 0.375rem; 
  padding: 0.375rem 1.25rem 0.375rem 0.75rem;
  font-size: 14px; 
  background-color: #ffffff; 
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%2020%2020%22%3E%3Cpath%20fill-rule=%22evenodd%22%20d=%22M6.293%207.293a1%201%200%200%201%201.414%200L10%2010.586l2.293-2.293a1%201%200%200%201%201.414%201.414l-3%203a1%201%200%200%201%2D1.414%200l-3%2D3a1%201%200%200%201%200%2D1.414z%22%20clip-rule=%22evenodd%22/%3E%3C/svg%3E'); 
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  
}

/* Remove the default arrow from the select element */
.custom-dropdown:focus {
  border-color: #80bdff; 
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25); 
}

/* setting card hover */
.hover-effect {
  transition: all 0.3s ease;
  cursor: pointer;
}

.hover-effect:hover {
  background-color: #2e2c2c; 
  color: #FFF; 
}

.hover-effect:hover .user-icon {
  color: #007bff; 
}

/* lead number suggestion */
.suggestions-list {
  max-height: 150px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.suggestions-list .list-group-item {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

.suggestions-list .list-group-item:hover {
  background-color: #f8f9fa;
}

.suggestions-list .list-group-item:last-child {
  border-bottom: none;
}

.landscape-modal {
  max-width: 800px; 
}

